m4/*
*.o
*.lo
**Makefile
**Makefile.in
**/.deps
**/.libs
doc/Makefile
doc/Makefile.in
doc/doxyfile
doc/doxytags
doc/html/
doc/latex/
doc/pydoc.i
doc/xml/
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
include/config.h
include/config.h.in
include/stamp-h1
install-sh
libtool
ltmain.sh
missing
pocketsphinx.pc
py-compile
src/gst-plugin/libgstpocketsphinx.la
src/libpocketsphinx/libpocketsphinx.la
src/programs/pocketsphinx_batch
src/programs/pocketsphinx_continuous
src/programs/pocketsphinx_mdef_convert
swig/python/_pocketsphinx.la
swig/python/pocketsphinx.py
swig/python/pocketsphinx_wrap.c
test-driver
test/testfuncs.sh

